/* Animation */
.typewriter{
  animation: typewriter 2s steps(20, end),
             blinkTextCursor 1000ms steps(44) normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: var(--primary);}
  to{border-right-color: transparent;}
}